*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

/* HERO VIDEO */

.hero{
    position:relative;
    height:100vh;
    overflow:hidden;
}

.bg-video{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
}

/* SEÇÃO DO CARRO */

.car-section{
    min-height:100vh;
    background: #0f0f0f;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:80px;

    padding:100px;
}

/* imagem */

.car-container{
    flex:1;
}

.car-image{
    width:100%;
    max-width:500px;
}

/* texto */

.text-container{
    flex:1;
}

.text-container h1{
    font-size:48px;
    margin-bottom:20px;
}

.text-container p{
    font-size:20px;
    line-height:1.6;
    color:white;
}

/* ANIMAÇÕES INICIAIS */

.car-image{
    width:100%;
    max-width:500px;

    opacity:0;
    transform:translateX(-120px);
    transition:all 1s ease;

    border-radius: 25px;
}

.text-container{
    flex:1;

    opacity:0;
    transform:translateX(120px);
    transition:all 1s ease;
}

h1{
    color: aliceblue;
}



.car-image.show{
    opacity:1;
    transform:translateX(0);
}

.text-container.show{
    opacity:1;
    transform:translateX(0);
}